@mixin button ($fondo , $color){
    background-color: $fondo;
    color: $color;
    width: 80px;
    height: 40px;
    border: 1px solid rgb(161, 0, 113);
    border-radius: 5px;
    padding: 10px;
    justify-self: center;
}