/*-------CARDS-------*/
.bodyCards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 40px 80px 100px 600px;
    grid-template-areas: "nav     nav     nav     nav     nav"
        "header  header  header  header  header"
        "texto   texto   texto   texto   texto"
        "main  main   main  main   main";
}

.main-cards {
    grid-area: main;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .tittle {
        padding: 10px;
        color: #a197aa8a;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

    .desc {
        text-align: center;
        padding: 5px;

        & {
            color: #a197aa5b;
            font-size: 13px;
            font-family: Arial, Helvetica, sans-serif;
            margin-bottom: 8px;
            padding: 10px;
        }
    }


    .btn {
        @include button (transparent, aliceblue) {}

        &:hover {
            background-color: #3b3a3b;
        }

    }
}

.card {
    @include card (transparent, white) {}
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 215px 30px 50px 60px;
    grid-template-areas: "foto"
        "header"
        "texto"
        "btn";
}

.btn-input {
    border-radius: 15px;
}

.button-two {
    visibility: hidden;
}

.imagen {
    width: 100%;
}

.productos {
    text-align: center;
    font-size: 30px;
    color: #68223f;
    font-family: 'Prompt', sans-serif;
    grid-area: texto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card:hover {
    transform: scale(1.05);
}